{% extends "layout.html" %}

{% block title %}
    Jomacaag | About Me
{% endblock title %}

{% block navbar_about %} active {% endblock navbar_about %}

{% block main %}

<section>
    <h1>About Me</h1>
    <p>I'm a highly motivated and versatile engineer with a strong passion for learning and exploring various fields,
      ranging from engineering to coding and computer hardware setup. With a diverse skill set and extensive experience in several areas,
      I'm eager to contribute to the growth and success of the industry.
      Here's a closer look at my background, projects, and professional history.</p>
      Here's a copy of my resume you can downoad: Resume(Link to download pdf)
  </section>
      <div>
        <section>
            <h3>Skills</h3>
            <ul>
                <li>Willingness to learn and adapt</li>
                <li>Self-starter and independent problem solver</li>
                <li>Proficient in hand and power tools</li>
                <li>Strong verbal skills and math ability</li>
                <li>SOLIDWORKS CSWA Certified (2018)</li>
                <li>CAD drawings creation</li>
                <li>Excellent shop skills and safety practices, hazardous material handling</li>
                <li>Auto maintenance and small engine repair</li>
                <li>Years of lab experience, including writing lab reports and volunteering</li>
                <li>CNC setup with Mach3 software</li>
                <li>Strong computer skills (Windows Office, programming in C++ and Python, Linux)</li>
                <li>Computer hardware setup and troubleshooting</li>
            </ul>
        </section>

        <section>
            <h3>Experience</h3>
            <ul>
                <li>Small engine repair to large data processing in Python, and computer hardware setup</li>
                <li>Volunteered as a laboratory technician at Indie Lab in Richmond, VA</li>
                <li>Building own CNC machine from scratch</li>
                <li>Hands-on experiences, such as repairing car and small engine lawnmowers</li>
            </ul>
        </section>

  </div>
{% endblock main %}