{% extends "layout.html" %}

{% block title %}
    LoanCalc | Calulated
{% endblock title %}

{% block navbar_home %} active {% endblock navbar_home%}

{% block main %}
    <section>
        <h1>Here is the calulated loan: </h1>
        <div><p>Thank you for visiting my personal website portfolio. Please feel free to explore my projects
        and reach out if you have any questions or opportunities.
        I look forward to connecting with you!</p></div>
        <p>click <a href="about.html">here</a> to learn more about me.</p>
    </section>
{% endblock %}