{% extends "layout.html" %}

{% block title %}
    LoanCalc | History
{% endblock title %}

{% block navbar_history %} active {% endblock navbar_history%}

{% block main %}
    <section>
        <h1>History for {{username}}:</h1>
        <div><p>Thank you for visiting my personal website portfolio. Please feel free to explore my projects
        and reach out if you have any questions or opportunities.
        I look forward to connecting with you!</p></div>
        <p>click <a href="history.html">here</a></p>
    </section>
{% endblock %}