{% extends "layout.html" %}

{% block title %}
    LoanCalc | Home
{% endblock title %}

{% block navbar_home %} active {% endblock navbar_home%}

{% block main %}
    <section>
        <h1>Welcome to My Mortgage loan Calculator</h1>
        <div><p>Thank you for visiting my personal website portfolio. Please feel free to explore my projects
        and reach out if you have any questions or opportunities.
        I look forward to connecting with you!</p></div>
        <p>click <a href="history.html">here</a></p>
    </section>
{% endblock %}